
@import url(style/header.css);
*{/*seletor universal para resetar as bordas da página */
    padding: 0px;
    margin: 0px;
}
:root{/*seletor raiz para variáveis*/
    --cor-de-fundo:rgb(98, 223, 73);
    --cor-da-letra:rgba(0, 0, 0, 0.89);
    --cor-branca:white;
}
body{/*seletor body*/
    background-color: var(--cor-de-fundo)
}

h1{
    background-color: brown;
}


